.navbar {
  background-color: $dark;
  color: $light;
  height: 110px;

  .flex {
    justify-content: space-between;
  }

  ul {
    display: flex;
  }

  a {
    color: $light;
    padding: 10px;
    margin: 0 5px;
    font-size: 20px;
    &:hover {
      border-bottom: 2px solid $light;
    }
  }

}

.container {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.logo{
  width: 70px;
  background-color: $dark;
}