@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import 'base/resets';
@import 'base/variables';
@import 'base/common';
@import 'layout/nav';
@import 'components/buttons';
@import 'components/inputs';
@import 'pages/login';

body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-weight: 300;
  line-height: 1,2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

